.LeftSideChild {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 5%;
    border: black 1px solid;
    padding: 10px;
}

.LeftSideChild > span { /* apply to all spans that are direct children of LeftSideChild */
    margin-bottom: 10px;
}

.LeftSideChild > span:last-child { /* apply to the last span that is a direct child of LeftSideChild */
    margin-bottom: 0;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.buttonContainer.misaligned {
    flex-direction: column;
    align-items: stretch;
}

.backgroundButton {
    background-color: yellow;
    border: lightblue 1px solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px;
    width: 100px;
    flex-shrink: 0;
}

.backgroundButtonOtherData {
    background-color: lightgray;
    border: none;
    width: 100px;
    flex-shrink: 0;
}

.rightButtons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-grow: 1; /* grow to take up the space */
    justify-content: flex-end;
}

.rightButtons.moved {
    flex-basis: 100%;
    margin-top: 10px;
}

.borderGreen {
    border: green 1px solid;
}

.borderRed {
    border: red 1px solid;
}

.OtherData {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    width: 100%; 
    max-width: 90%; 
    margin: 0 auto; /* center the div*/
    border: black 1px solid;
    box-sizing: border-box; 
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
}

.OtherData label{
    width: 35px;
    white-space: nowrap; /* keep the text on one line */ 
    cursor: pointer;
}

.OtherData input {
    cursor: text; /* remove the cursor */
}

.OtherData span{
    display: flex;
    margin-bottom: 10px; /* space between the spans */
}

.OtherData span:last-child{
    margin-bottom: 0; /* remove the space between the last span and the button */
}

.blueUnderline {
    text-decoration: underline;
    text-decoration-color: blue;
}

.cursor_pointer {
    cursor: pointer;
}

.orangeBackground {
    background-color: orange;
}

.fixed_margin-left {
    margin-left: 10px;
}

.fixed_margin-left_OtherData {
    margin-left: 40px;
}